$c-tree-poppy: #F5931E;
$c-roof-terracotta: #A62F20;
$c-burnt-umber: #8A3324;
$c-double-pearl-lusta: #FCF4D0;
$c-emerald: #50C878;
$c-mineshaft: #212121;

$c-1: $c-tree-poppy;
$c-2: $c-roof-terracotta;
$c-3: $c-burnt-umber;
$c-4: $c-double-pearl-lusta;
$c-5: $c-emerald;

$c-white: #FFFFFF;
$c-black: $c-mineshaft;
