@import url('https://fonts.googleapis.com/css?family=Cabin:500|Work+Sans:400,600');

%f-header {
  font-family: "Cabin", sans-serif;
}

%f-body {
  font-family: "Work Sans", sans-serif;
}

body {
  @extend %f-body;
  color: $c-black;
}

h1,
h2,
h3,
h4, {
  @extend %f-header;
  color: $c-3;
}

a {
  transition: color .2s linear, background-color .2s linear, border-color .2s linear;
  color: $c-2;
  &:hover,
  &:active,
  &:focus {
    color: $c-3;
  }
}
